/*.App {
  text-align: center;
}

.App__list {
  margin: 12px auto;
  width: 500px;
}

.App__list__item {
  display: flex;
  margin-bottom: 8px;
}

.App__list__item__done,
.App__list__item__important,
.App__list__item__delete {
  margin-left: 8px;
}*/

.App__buttons {
  margin-bottom: 12px;
}

.App__bottom-panel {
  margin-top: 12px;
}

.App__list__item__text.is-done {
  text-decoration: line-through;
}

.App__list__item__text.is-important {
  font-weight: bold;
}

.btn {
  margin-left: 8px;
}

.App__user-buttons {
  margin-top: 20px;
}